body,
article,
header,
h1,
h2,
h3,
h4,
h5,
h6,
p,
span,
div {
    padding: 0px;
    margin: 0px;
    border: 0px;
}

@import url('https://fonts.googleapis.com/css?family=Roboto;400');
@keyframes blurIn {
    from {
        filter: blur(5px)
    }
    to {
        filter: none
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes fadeInOutHalf {
    0% {
        opacity: 0;
    }
    50% {
        opacity: .3;
    }
    100% {
        opacity: 0;
    }
}

@keyframes darkToLightBlue {
    from {
        background-color: #071121;
    }
    to {
        background-color: #0d1d39;
    }
}

body {
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    font-weight: 400;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
}

#top_container {
    max-width: 100%;
    color: white;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    background: url(pics/translatorbg.png) no-repeat center center fixed;
    background-color: #0d1d39;
    background-size: cover;
    overflow: hidden;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.5);
    /* animation: darkToLightBlue 1s; */
}

#picture {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    opacity: 1;
    background: url(pics/1.jpg);
    background-size: cover;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
    align-self: center;
    animation-name: fadeIn;
    animation-direction: 1s;
    margin-bottom: 50px;
    /*animation: blurIn 3s;*/
}

#title {
    align-self: center;
    font-size: 4em;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
    margin-top: 20px;
}

#instruction {
    align-self: center;
    margin-top: 10px;
    opacity: 0;
    position: absolute;
    bottom: 10px;
    text-align: center;
    animation: fadeInOutHalf 5s infinite;
}

.project {
    max-width: 100%;
    width: 100vw;
    min-height: 100vh;
    height: fit-content;
    color: black;
    align-content: center;
    justify-content: center;
    background-color: #22376a;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-self: center;
}

.projectTitle {
    align-self: center;
    font-size: 4em;
    color: white;
    text-align: center;
    text-justify: center;
}

.projectDescription {
    align-self: center;
    color: white;
    padding-bottom: 20px;
    text-align: center;
}

hr {
    border: 0;
    width: 70vw;
    height: 1px;
    background-image: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.75), rgba(255, 255, 255, 0));
}


/*
.project * {
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}*/

.projectPhotos * {
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);
}

.projectPhotos {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-self: center;
    align-content: center;
    justify-content: center;
}

.project img {
    height: 50vh;
    width: auto;
    margin: 10px;
}

.footer {
    padding: 0px;
    height: 20vh;
    width: 100vw;
    max-width: 100%;
    background: #3e2d20;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-self: center;
    justify-content: center;
    align-content: center;
}

.fa-arrow-circle-down{
    color:white;
}

.footer a {
    align-self: center;
}

.footer * {
    box-shadow: rgba(0, 0, 0, 0);
}

.project a {
    align-self: center;
}

#githubButton {
    box-shadow: rgb(28, 27, 24) 0px 5px 14px 0px;
    background: #e3e1ca;
    display: inline-block;
    cursor: pointer;
    color: #282828;
    font-family: Arial;
    font-size: 18px;
    font-weight: bold;
    padding: 16px 33px;
    text-decoration: none;
    text-align: center;
    align-self: center;
}

#womenTranslatorDownloadButton {
    box-shadow: rgba(28, 27, 24, .5) 0px 5px 14px 0px;
    background: #77ba74;
    /* border: 7px double white; */
    display: inline-block;
    cursor: pointer;
    color: white;
    font-family: Arial;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 20px;
    padding: 10px 66px;
    text-decoration: none;
    text-align: center;
    align-self: center;
}

#Libraries {
    background-color: #d1aa23 !important;
}

@media only screen and (max-width: 1000px) {
    #picture {
        width: 200px;
        height: 200px;
        margin-bottom: 0px;
    }
    .no-mobile {
        display: none;
    }
    #Libraries .projectTitle {
        font-size: 3em;
    }
    #Libraries img {
        content: url("pics/povijestKnjiznicaMobile.png");
    }
    #WomenTranslator .projectTitle {
        font-size: 3em;
    }
}

@media screen and (max-width: 400px) {
    #picture {
        width: 150px;
        height: 150px;
        margin-bottom: 0px;
    }
    #title {
        font-size: 2.5em;
    }
    #Brink .projectTitle {
        font-size: 3em;
    }
    .no-mobile {
        display: none;
    }
    #Libraries .projectTitle {
        font-size: 2em;
    }
    #Libraries img {
        content: url("pics/povijestKnjiznicaMobile.png");
    }
    #WomenTranslator .projectTitle {
        font-size: 2em;
        padding-top: 20px;
    }
}